Repository CrowdStrike/falconpy, pull requests merged in 2021-04, with the labels that each got.

#110 Add spell checking workflow
  .github/wordlist.txt
  .github/workflows/check_spelling.yml
  CONTRIBUTING.md
  README.md
  docs/service-class/firewall-management.md
  docs/service-class/real-time-response.md
Labels: pipeline

#111 Pull request automatic labelling
  .github/labeler.yml
  .github/wordlist.txt
  .github/workflows/label_request.yml
  SECURITY.md
Labels: pipeline

#112 Workflow updates
  .github/labeler.yml
  .github/workflows/bandit.yml
  .github/workflows/label_request.yml
  .github/workflows/linting.yml
  .github/workflows/unit_testing.yml
  setup.py
Labels: package, pipeline

#109 Create dev-deploy.yml
  .github/workflows/dev-deploy.yml
Labels: pipeline

#116 Usage Examples
  .github/labeler.yml
  .github/wordlist.txt
  .github/workflows/bandit.yml
  .github/workflows/label_request.yml
  .github/workflows/linting.yml
  samples/README.md
  samples/config_sample.json
  samples/real_time_response/quarantine_hosts.py
  samples/sample_uploads/sample_uploads_service.py
  samples/sample_uploads/sample_uploads_uber.py
Labels: code samples, documentation, pipeline

#117 Discover for AWS Usage Examples
  .github/labeler.yml
  samples/README.md
  samples/discover_aws/manage_discover_accounts_service.py
  samples/discover_aws/manage_discover_accounts_uber.py
Labels: code samples, documentation, pipeline

#118 [DEPLOY] Version 0.4.4 Update - Sensor Download Service Class, Fixes
  .github/labeler.yml
  .github/workflows/bandit.yml
  .github/workflows/dev-deploy.yml
  .github/workflows/linting.yml
  .github/workflows/unit_testing.yml
  .gitignore
  README.md
  samples/real_time_response/quarantine_hosts.py
  src/falconpy/README.md
  src/falconpy/_util.py
  src/falconpy/_version.py
  src/falconpy/device_control_policies.py
  src/falconpy/firewall_policies.py
  src/falconpy/host_group.py
  src/falconpy/hosts.py
  src/falconpy/prevention_policy.py
  src/falconpy/sensor_download.py
  src/falconpy/sensor_update_policy.py
  tests/test_device_control_policies.py
  tests/test_firewall_policies.py
  tests/test_host_group.py
  tests/test_hosts.py
  tests/test_prevention_policy.py
  tests/test_sensor_download.py
  tests/test_sensor_update_policy.py
Labels: bug, code samples, documentation, enhancement, package, pipeline, unit testing

#127 Quick Scan / Sandbox usage sample
  .github/labeler.yml
  samples/README.md
  samples/quick_scan/scan_target.py
Labels: code samples, documentation, pipeline

#128 Quick Scan sample documentation
  .github/wordlist.txt
  .github/workflows/codeql-analysis.yml
  samples/quick_scan/README.md
Labels: pipeline

#136 Spotlight - Adding remediations endpoint support
  .github/wordlist.txt
  CHANGELOG.md
  src/falconpy/_endpoint/_spotlight_vulnerabilities.py
  src/falconpy/spotlight_vulnerabilities.py
  tests/test_spotlight_vulnerabilities.py
Labels: documentation, package, pipeline, unit testing

#140 [DEPLOY] Version 0.4.7 Updates - All remaining Service Classes. New Service Class pattern.
  .github/wordlist.txt
  CHANGELOG.md
  README.md
  src/falconpy/README.md
  src/falconpy/_util.py
  src/falconpy/_version.py
  src/falconpy/d4c_registration.py
  src/falconpy/falcon_complete_dashboard.py
  src/falconpy/installation_tokens.py
  src/falconpy/ioa_exclusions.py
  src/falconpy/malquery.py
  src/falconpy/ml_exclusions.py
  src/falconpy/overwatch_dashboard.py
  src/falconpy/sensor_visibility_exclusions.py
  tests/test_d4c_registration.py
  tests/test_falcon_complete_dashboard.py
  tests/test_installation_tokens.py
  tests/test_ioa_exclusions.py
  tests/test_malquery.py
  tests/test_ml_exclusions.py
  tests/test_overwatch_dashboard.py
  tests/test_sensor_visibility_exclusions.py
Labels: documentation, package, unit testing

#146 [DEPLOY] Refactored MSSP Service Class
  CHANGELOG.md
  src/falconpy/_version.py
  src/falconpy/mssp.py
Labels: documentation, package
