Repository CrowdStrike/falconpy, pull requests merged in 2021-06, with the labels that each got.

#159 [DEPLOY] Version 0.4.9 update - Enabling proxy support
  src/falconpy/_util.py
  src/falconpy/_version.py
  src/falconpy/api_complete.py
  src/falconpy/oauth2.py
  tests/test_cloud_connect_aws.py
Labels: enhancement, package, unit testing

#162 Added: Sensor versions by hostname sample
  samples/README.md
  samples/hosts/sensor_versions_by_hostname.py
Labels: documentation

#166 [DEPLOY] Version 0.4.10 - Timeout handling, Service Class proxy support fixes
  .github/workflows/unit_testing_macos.yml
  src/falconpy/_service_class.py
  src/falconpy/_util.py
  src/falconpy/_version.py
  src/falconpy/api_complete.py
  tests/test_timeout.py
Labels: bug, enhancement, package, pipeline, unit testing

#182 [DEPLOY] v.0.5.1 - Fixes for indicator_update_v1 and indicator_create_v1 (IOC)
  src/falconpy/ioc.py
Labels: bug

#183 [DEPLOY] FalconPy v0.5.1
  src/falconpy/_version.py
Labels: package
