Repository CrowdStrike/falconpy, pull requests merged in 2022-12, with the labels that each got.

#851 Add more detailed error messaging to the Detects Advisor sample
  samples/detects/detects_advisor.py
Labels: code samples, detects

#855 Correct file naming when -n1 or -n2. Fixes #853
  samples/sensor_download/download_sensor.py
Labels: code samples

#868 fix: propagate aut object credentials to uber class
  src/falconpy/_util.py
Labels: authentication
