Repository CrowdStrike/falconpy, pull requests merged in 2024-07, with the labels that each got.

#1194 Updated Intel Search sample README
  samples/intel/README.md
Labels: documentation :book:, code samples

#1192 Add debugging functionality to the list_discovered_hosts.py sample
  samples/discover/list_discovered_hosts.py
Labels: enhancement :star2:, code samples

#1195 Update find_hosts_by_cve.py
  samples/spotlight/find_hosts_by_cve.py
Labels: enhancement :star2:, code samples, spotlight

#1204 Pin setuptools in the setup files
  dev_setup.py
  setup.py
Labels: pipeline, package, python
